name: Build and Test

on: [push, workflow_dispatch]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.6.7'
      - run: cabal build --enable-tests --only-dependencies
      - run: cabal build --enable-tests
      - run: cabal test --test-show-details=direct
